@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

html {
    background-color: #001362;
}

.headNav {
    height: 4em;
    background-color: #001362;
    padding-top: 1.33em;
}

.articleNav {
    color: #FFD01B;
    text-decoration: none;
    font-size: 1.15em;
    font-weight: 500;
    padding: 0.6em;
    margin: 0.5em;

}

.articleNav:hover {
    background-color: #FFD01B;
    color: #001362;
    border-radius: 2em;
}

h2 {
    background-color: #FFD01B;
    color: #001362;
    text-align: center;
    padding: 1em;
    font-size: 2em;
}

.content {
    display: flex;
    flex-direction: row;
    margin: auto;
    width: 96%;
    height: auto;
    margin-top: 2em;
    background-color: #a0a0a0;
    border-radius: 1.5em;
}

.MainContent {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: #001362 5px solid;
    border-radius: 1.5em;
    margin: 1em;
    width: 75%;
    background-color: rgb(250, 250, 250);
}

.ToolsFeed {
    margin-left: 2em;
    margin-right: 5em;
    margin-top: 2em;
}

.searchform {
    padding: 2px 5px;
    display: flex;
    flex-direction: row;
    box-shadow: 0 4px 9px rgba(0, 0, 0, .37);
    -moz-box-shadow: 0 4px 9px rgba(0, 0, 0, .37);
    -webkit-box-shadow: 0 4px 9px rgba(0, 0, 0, .37);
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px
}

.searchform input,
.searchform button {
    float: left
}

.searchform input {
    background: #fefefe;
    border: none;
    font: 12px/12px 'HelveticaNeue', Helvetica, Arial, sans-serif;
    margin-right: 5px;
    padding: 10px;
    width: 17em;
    box-shadow: 0 0 4px rgba(0, 0, 0, .4) inset, 1px 1px 1px rgba(255, 255, 255, .75);
    -moz-box-shadow: 0 0 4px rgba(0, 0, 0, .4) inset, 1px 1px 1px rgba(255, 255, 255, .75);
    -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, .4) inset, 1px 1px 1px rgba(255, 255, 255, .75);
    border-radius: 9px;
    -moz-border-radius: 9px;
    -webkit-border-radius: 9px
}

.searchform input:focus {
    outline: none;
    box-shadow: 0 0 4px #001362 inset;
    -moz-box-shadow: 0 0 4px #001362 inset;
    -webkit-box-shadow: 0 0 4px #001362 inset;
}

.searchform input::-webkit-input-placeholder {
    line-height: 15px
}

.searchform input:-moz-placeholder {
    line-height: 15px
}

.searchform button {
    background: #001362;
    background: -moz-linear-gradient(top, #001362 0%, #001362 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(52, 173, 236, 1)), color-stop(100%, #001362));
    background: -webkit-linear-gradient(top, #001362 0%, #001362 0%);
    background: -o-linear-gradient(top, #001362 0%, #001362 100%);
    background: -ms-linear-gradient(top, #001362 0%, #001362 100%);
    background: linear-gradient(to bottom, #001362 0%, #001362 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#001362', endColorstr='#001362', GradientType=0);
    border: none;
    color: #fff;
    cursor: pointer;
    font: 13px/13px;
    padding: 10px;
    width: 106px;
    box-shadow: 0 0 2px #001362 inset;
    -moz-box-shadow: 0 0 2px #001362 inset;
    -webkit-box-shadow: 0 0 2px #001362 inset;
    border-radius: 9px;
    -moz-border-radius: 9px;
    -webkit-border-radius: 9px;
}

.searchform button:hover {
    opacity: .9;
}

#menu
{
    width: 280px;
    color: #001362;
    top: 0;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
    opacity: 1;
}

#menu ul {
    list-style: none;
    margin-top: 3.5em;
    padding: 0
}

#menu ul li {
    border-bottom: 1px solid #2a2a2a;
    margin-top: 1em;
}

#menu>ul>li>a {
    border-left: 4px solid #222;
}

#menu ul li a {
    color: inherit;
    font-size: 16px;
    display: block;
    padding: 8px 0 8px 7px;
    text-decoration: none;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
    font-weight: 600;
}

#menu ul a i {
    margin-right: 10px;
    font-size: 18px;
    margin-top: 3px;
    width: 20px;
}

#menu ul a i[class*='fa-caret'] {
    float: right;
}

#menu ul a:hover,
#menu ul a.active {
    background-color: #001362;
    border-left-color: #FFCC33;
    color: #FFCC33;
}

#menu ul a:hover i:first-child {
    color: #FFCC33;
}

/* Submenu */
#menu ul li a.active+ul {
    display: block
}

#menu ul li ul {
    margin-top: 0;
    display: none;
}

#menu ul li ul li {
    border-bottom: none;
}

#menu ul li ul li a {
    padding-left: 30px;
}

#menu ul li ul li a:hover {
    background-color: #1A1A1A;
}

.newsfeed {
    display: flex;
    flex-direction: column;
    border: green 5px solid;
    margin: 1em;
    width: 25%;
}

.article {
    background-color: rgb(250, 250, 250);
    height: auto;
    padding: 1em;
    border: grey 2px solid;
    width: 75%;
}

.profil {
    display: flex;
    flex-direction: row;
}

.pictProfil {
    height: 4em;
    width: 4em;
    border: #001362 3px solid;
    border-radius: 50%;
    padding: 0.1em;
}

.pseudo {
    font-weight: 500;
    font-size: 1.33em;
    margin-top: 0.75em;
    margin-left: 0.5em;
    color: #001362
}

.ArticleContent {
    margin-left: 3.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.TextArticleContent {
    padding: 1em;
}

.imageArticleContent {
    display: flex;
    width: 25em;
    border: grey 1px solid;
    border-radius: 1.5em;
    margin-left: 0.5em;
    margin-top: 1em;
}

.socialicon {
    display: flex;
    justify-content: space-between;
    margin-top: 2.5em;
    width: 50%;
    margin-left: 27.5%;
}